h1{
    text-align:center;
    background-color:#eeb1c5
}

h2{
    text-align:center;
   color:purple;
}

h3,h4{
    text-align:center;
    background-color: seashell;
    font-family:Arial;
}

.proyecto1{text-align:center;
    background-color:seashell ;
    font-family:Arial;
}

#imagen1{float:right}